html, body {
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    background-color: black;
    color: white;
}

form {
    display: block;
    padding: 10px;
    max-width: 700px;
    width: 90%;
    margin: 17px auto;
}

form input[type=text], form input[type=number], form input[type=tel] {
    padding: 10px;
    width: calc(100% - 20px);
    margin: 10px 0;
    font-size: 20px;
}

form input[type=button] {
    display: block;
    padding: 10px;
    width: 100%;
    background-color: black;
    color: white;
    margin: 10px auto;
    font-size: 20px;
}